        #header{
            width: auto;
            height: fit-content;
        
        }
        /*#header ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: darkred;  
        }*/
        #header li{
            float: left;
        }
        .navbar {
            overflow: hidden;
            background-color: #333;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }
        
        /* Style the navigation bar links */
        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
        
        
        /* Right-aligned link */
        .navbar a.right {
            float: right;
        }
        
        /* Change color on hover */
        .navbar a:hover {
            background-color: #ddd;
            color: black;
            overflow-y: auto;
        }
        
        /* Active/current link */
        .navbar a.active {
            background-color: #666;
            color: white;
            
        }







        #footer{
            width: auto;
            height: 100px;
       
         
            
            position: inherit;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(61, 56, 56);
            color: white;
            text-align: center;
          
          
          }