<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>planyourtrip</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
        h1 {
        	padding-top: 40px;
        }
        #app button{
            background-color: cadetblue;
        }
    </style>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="index.css">
</head>
<body>


    <div id="header">
        <div class="navbar">
          <a href="index.html" class="active">Home</a>
          <a href="overview.html">Overview</a>
          <a href="wheretogo.html">Where to Go</a>
          <a href="planyourtrip.html">Plan Your Trip</a>
          <a href="serviceproviders.html">Service Providers</a>
          <a href="https://github.com/kasunsoorige" class="right">About Us</a>
        </div>





    <div id="app" class="container">
        <h1>Create a List Of Your Favourite Places to Visit in Sri Lanka</h1>

        <div v-if="!isEditing">
            <input type="text" v-model="todo">
            <input type="submit" value="Add" @click="storeTodo">
        </div>
        <div v-else>
            <input type="text" v-model="todo">
            <input type="submit" value="Update" @click="updateTodo">
        </div>

        <ol>
            <li v-for="(todo, index) in todos">
                {{ todo }}
                <button @click="editTodo(index, todo)">Edit</button>
                <button @click="removeTodo(index)">Delete</button>
            </li>
        </ol>
    </div>



    <div id="footer" style="position: absolute; bottom: 0%;">
        <ul></ul>
        <p> Tourism Hotline : 1912 </p>
        <p> SRI LANKA TOURIST INFORMATION CENTER +94 112 426 900 </p>
        <p>  © 2021.The Pearl Of The Indian Ocean </p>
        <div id="footdiv">
          <ul>
           <li><a href="https://www.instagram.com/"><img src="insta.png" style="width: 30px; padding-left: 10px;" alt=""></a> </li> 
          <li> <a href="https://www.facebook.com/"><img src="facebook.png" style="width: 30px;padding-left: 50px;" alt=""></a></li>
          <li> <a href="https://twitter.com/?lang=en"><img src="tweet.png" style="width: 30px;padding-left: 50px;" alt=""></a></li>
          <li> <a href="https://github.com/kasunsoorige"><img src="git.png" style="width: 30px;padding-left: 50px;" alt=""></a></li>
           
          </ul>
        
        </div>
         
      </div>












    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        new Vue({
            el: '#app',
            
            data: {
                isEditing: false,
                todo: '',
                todos: [],
                selectedTodo: null
            },
            
            methods: {
                storeTodo() {
                    this.todos.push(this.todo)
                    this.todo = ''
                },

                removeTodo(index) {
                    this.todos.splice(index, 1)
                },

                updateTodo() {
                    this.todos.splice(this.selectedIndex, 1, this.todo)
                    this.todo = ''
                    this.isEditing = false
                },

                editTodo(index, todo) {
                    this.isEditing = true
                    this.todo = todo
                    this.selectedIndex = index
                }
            }
        })
    </script>







</body>
</html>